* {
    box-sizing: border-box;
}
p, h1, h2, h3, .input {
    font-family: "Helvetica Neue";
    margin: 10px;
}
div {
    margin: 20px auto 20px auto;
}
.wrapper {
    display: grid;
}
#header {
    display: flex;
    align-items: center;
    max-width: 60em;
    /* margin: 40px auto 40px auto; */
}
#header p {
    font-size: 30px;
}
#header img {
    width: 200px;
    height: 200px;
}
#mainDiv {
    max-width: 60em;
    /* margin-left: auto;
    margin-right: auto; */
}
.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    /* display: block; */
    margin: 10px auto;
    border-radius: 15px;
    min-height: 30px;
    background-color: rgb(220, 226, 223);
}
.uploaddiv {
    display: flex;
    align-items: center;
    padding: 1em;
    position: fixed;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    background: white;
    border: 30px solid black;
}
/* .profilepicdiv {
    position: absolute;
    left: 10px;
} */
.submit-button {
    border-radius: 10px;
    margin: 10px auto;
}
.logout-button {
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.upload-close-button {
    /* border-radius: 10px;
    margin: 10px; */
}
.change-profilepic-button {
    display: block;
}
.profilediv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilepicdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;
    right: 10px;
}
.profilepic {
    width: 150px;
    height: 150px;
}
.otherprofilepic {
    width: 150px;
    height: 150px;
}
.logo {
    width: 100px;
    height: 100px;

}
